input {
  width: 200px;
  font-size: 15px;
}

h1  {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

button {
  margin-top: 15px;
  margin-bottom: 15px;
}

body {
  background-color: skyblue;
  text-align: center;
  font-family: sans-serif;
}

form {
  font-size: 20px
}

.col-md-6 {
  border-radius: 5px;
  border: solid black;
  margin: 5px:
}

#output {
  text-align: justify;
  font-size: 20px
}

.satan {
  display: none;
  font-size: 150px;
  color: crimson;
}

.reverseSatan {
  display: none;
  font-size: 150px;
  color: crimson;
}

img {
  width: 100%;
  display: none;
}
