input {
  width: 200px;
}

h1  {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

button {
  margin-top: 15px;
  margin-bottom: 30px;
}

body {
  background-color: #98ff98;
  text-align: center;
}

strong {
  font-size: 25px;
  color: crimson;
}
